.loader{
    position:fixed;
    top: 35%;
    width: 20%;
    left:40%; 
    padding: 2%;
    color: rgb(145, 145, 145);
    background-color:#fefefe;
    box-shadow: 1px 1px 1px #c3c3c3;
    z-index: 99;
    border-radius: 10px;
}







