.grid-item{
    flex-grow: 0;
  }
  
  /* Desktop */ 
  @media (min-width: 769px ) {
    .grid-item {
      width: 33.33%; 
    }
  }
  
  /* Tablet */ 
  @media (max-width: 768px) and (min-width:480px) {
    .grid-item {
      width: 50%; 
    }
  }
  
  /* mobile */ 
  @media (max-width: 479px) and (min-width:320px) {
    .grid-item {
      width: 100%; 
    }
  }
  
  .card{
    margin: 10px ;
    border: 1px solid #DFE0EC;
    height:590px;
    padding: 20px;
    position: relative;

    img {
      width:100%;
      height: 230px;
    }

    .best-seller-gap{ height: 28px;}

    .best-seller{
      width:150px ;
      position: relative;
      background-color: #F4452D;
      color:#fff;
      font-size:16px;
      padding:5px;
      font-weight: bold;
      left: -20px;
    }

    p{
      height: 75px;
    }

    h2{
      font-weight: bold;
      font-size:22px;
      color: #676B79; 
    }

    .price-text{
      margin: 20px 0;
    }

    .price{
      font-size: 20px;
      color: #676B79;
      font-weight:bold;
    }
    
    a{
      display: block;
      margin: auto;
      color:#676B79;
      text-align: center;
      padding: 15px ;
      text-decoration: none;
      border:5px solid #00FC35;
      font-size:16px;
      font-weight: bold;
      background-color: #fff;
    }
  }
  